@charset "UTF-8";

/*共通部分
----------------------------*/

html {
	font-size: 100%;
}
body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
	line-height: 1.7;
	background: rgb(245, 245, 247);
}
a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img {
	max-width: 100%;
}

.wrapper {
	max-width: 2000px;
	margin: 0 auto;
	padding: 0 4%;
}
/* 大きな背景画像 */
.big-bg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

/* 見出し */
.page-title {
	font-size: 3rem;
	font-family: "Philosopher", serif;
	font-weight: normal;
	color : rgb(0, 0, 0);
}


/* ボタン */
.button {
	font-size: 1.5rem;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-radius: 50px;
	padding: 12.5px 20px;
}
.button:hover {
	color: rgba(100, 100, 100);
	background: rgba(255, 255, 255, 0.75);
}


/*header
---------------------*/
.page-header {
	background: rgb(51, 51, 51);
	position: fixed;
	width: 100%;
	height: 44px;
	margin-top: 0px;
}
.header-main{
	margin: 0 auto;
	max-width: 980px;
	padding: 0px 22px 0;
	position: relative;
}
.main-nav{
	display: flex;
	list-style: none;
	justify-content: center;
	margin-top: 0;
}
.main-menu{
	text-align: center;
	padding-top: 0px;
	margin: auto;
}
.main-logo{
	margin-top: 5.2px;
}
.menu-logo {
	margin: 0px;
	padding: 10px 10px 13px;
}
.menu-logo img{
	min-width: 150px;
	width: 150px;
	height: auto;
	vertical-align: middle;
}
.main-moji{
	margin-top: 6px;
}
.menu-elements{
	color: rgb(165, 165, 165);
	margin: 0px;
	padding: 15px 10px 13px;
	font-size: 0.85rem;
	vertical-align: middle;
}
.main-nav a:hover {
	color: rgb(214, 214, 214);
	text-decoration:none;
}
.main-sns{
	margin-top: 5px;
}
.menu-sns-logo{
	padding: 10px 10px 10px;
}
.menu-sns-logo img{
	width: 30px;
	min-width: 30px;
	vertical-align: middle;
}

/* home
------------------------------- */
#home {
	background: linear-gradient(to right top,rgb(207, 46, 146),rgb(0, 160, 255));
	min-height: 100vh;
}

.home-content {
	display: flex;
	justify-content: center;
	text-align: left;
	margin-top: auto;
	padding-top: 15%;
}
.today{
	position: relative;
	color: rgb(255,255,255);
	font-size: 100px;
}
.today-date{
    width: 300px;

    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}
.today-date span{

}
.home-content .page-title {
	font-size: 3.5rem;
	font-family: "Philosopher", serif;
	font-weight: normal;
	color : rgb(255, 255, 255);
	margin-top: 100px;
}
.home-content p {
	color: rgb(255, 255, 255);
	font-size: 1.25rem;
	margin-bottom: 30px;
}
.home-button2{
	color: rgb(255, 255, 255);
}
.home-buttons{
	display: flex;
}
.home-buttons a{
	font-size: 1.25rem;
}
.home-button1{
	color: rgb(255, 255, 255);
	border-radius: 50px;
	padding: 12.5px 20px;
}
.news{
	position: relative;
	width: 500px;
}

.pad {
	height: auto;
	width: 500px;
	min-width: 500px;
	margin: 0 auto;
}
.news-titles{
	position: absolute;
	text-align: center;
	left: 110px;
	top: 100px;
	padding: 10px 0;
}
.news-titles p{
	font-size: 1.5rem;
	color: #000;
}
.yahoo{
	color: rgb(255, 0, 0);
}
.news-item{
	text-align: left;
}
.news-titles a{
	font-size: 1.2rem;
	color: rgb(100, 100, 100);
}
.news-titles a:hover{
	color: rgb(0, 160, 255);
}


.profile-contents {
	margin:0 80px 10px;
	text-align: left;
}
.profile-contents li{
	list-style: none;
	font-size: 18px;
}
.profile-contents .page-title{
	text-align: center;
	font-family: none;
	font-weight: bold;
}
.profile-contents a{
	color: rgb(30, 100, 140);
}
.profile-contents hr{
	margin: 10px 0px;
}
.name{
	padding-left: 30px;
}
.name h3{
	font-size: 35px;
}
.name h4{
	font-size: 25px;
}
.name h5{
	font-size: 20px;
}
.sub-title{
	font-size: 20px;
	font-weight: bold;
}
.sns{
	text-align: center;
}
.sns iframe{
	margin: 0px 20px;
}
.sns table{
	width: 80%;
	border-collapse: collapse;
	margin:70px auto;
}
.sns table tr{
	border-bottom: solid 2px rgb(215, 215, 215);
}
.sns table tr:last-child{
	border-bottom: none;
}
.sns table th{
	color: rgb(15, 15, 15);
	font-size: 1.3rem;
	text-align: left;
	width: 30%;
	background-color: rgba(0, 150, 246, 0.5);
	text-align: center;
	padding: 10px 0;
}
.sns table td{
	text-align: left;
	width: 70%;
	text-align: center;
	background-color: #eee;
	padding: 10px 0;
}
/* gallery
------------------------------- */
#gallery {
	background: linear-gradient(to right top, rgb(0, 160, 255), rgb(0, 245, 50));
	height: 250px;
	margin-bottom: 40px;
}
#gallery .page-title {
	padding-top: 100px;
	text-align: center;
}
#gallery .page-title a{
	color: rgb(0, 0, 0);
}
.introduction{
	margin: auto 5% 0px;
	font-size: 1.5rem;
}
.item{
    text-align: center;
}
.item img{
    max-width: 440px;
}
.item p{
    text-align: auto;
    font-size: 1.2rem;
}
.grid{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    margin: 6% 40px 50px;
}


/*works
-----------------------*/
#works {
	background: linear-gradient(to right top, rgb(0, 245, 50), rgb(230, 245, 10));
	height: 250px;
	margin-bottom: 40px;
}
#works .page-title {
	padding-top: 100px;
	text-align: center;
}
#works .page-title a{
	color: rgb(0, 0, 0);
}
.history{
	margin: 10px 10%;
}
.history h2{
	font-size: 2rem;
}
.history li{
	font-size: 1.2rem;
	list-style: none;
	margin: 10px 0;
}



/*exercise
-----------------------*/
#exercise {
	background: linear-gradient(to right top, rgb(230, 245, 10), rgb(242, 105, 57));
	height: 250px;
	margin-bottom: 40px;
}
#exercise .page-title {
	padding-top: 100px;
	text-align: center;
}
#exercise .page-title a{
	color: rgb(0, 0, 0);
}
.exercise-contents{
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-size: 1.2rem;
}
article{
	width: 75%;
	order: 2;
}
aside{
	text-align: left;
	width: 20%;
	order: 1;
}
aside p{
	font-size: 25px;
	border-bottom: 2px rgba(242, 105, 60,1) solid;
}
.exercise-menu{
	margin-bottom: 60px;
	list-style: none;
}
.exercise-menu li{
	list-style: none;
	border-bottom: 1px rgb(150, 150, 150) solid;
}
.exercise-menu a{
	color: rgb(50, 50, 50);
	padding: 10px;
	display: block;
}
.exercise-menu a:hover{
	color: rgb(150, 150, 150);
}
.exercise-contents div{
	margin: 20px 0;
}
.exercise-contents hr{
	margin: 10px 0;
}
.exercise-contents article li{
	list-style: none;
	font-size: 1.5rem;
	margin: 10px;
}
.exercise-contents img{
	padding: 0 10px;
}
.exercise-contents table{
	border-collapse: collapse;
}
.exercise-contents table tr{
	border-bottom: solid 2px rgb(215, 215, 215);
}
.exercise-contents table tr:last-child{
	border-bottom: none;
}
.exercise-contents table th{
	color: rgb(15, 15, 15);
	text-align: left;
	background-color: rgba(230, 245, 10,0.5);
	text-align: center;
	padding: 10px 0;
}
.exercise-contents table td{
	text-align: center;
	background-color: #eee;
	padding: 10px 0;
}
.exercise-contents .exercise0527 table td img{
	width: 70%;
}
.exercise-contents .exercise0603 table,.exercise-contents .exercise0527 table{
	margin:0px auto;
}
.exercise-contents .exercise0603 table td img{
	width: 90%;
}
.exercise-contents .exercise0617 form,.exercise-contents .exercise0624 form{
	text-align: left;
	margin-left: 10%;
}
.exercise-contents .exercise0701 form{
	text-align: left;
	margin-left: 15%;
	margin-bottom: 20px;
}
.exercise-contents input,select,textarea,canvas{
	background: #fff;
	border: 1px solid #000;
}
input[type="text"]{
	padding: 0 10px;
}
input[type="button"]{
	padding: 5px 10px;
	border-radius: 10px;
	background: rgba(230, 245, 10,0.7);
}
input[type="button"]:hover{
	background: rgba(242, 105, 57,0.5);
}


/*exercise0610
-----------------------*/
#exercise0610 {
	background: rgba(230, 245, 10);
	height: 200px;
	margin-bottom: 20px;
}
#exercise0610 .page-title {
	padding-top: 100px;
	text-align: center;
}
#exercise0610 .page-title a{
	color: rgb(0, 0, 0);
}
.exercise0610 div{
	text-align: center;
	margin: 20px;
	font-size: 1.2rem;
}
.exercise0610 li{
	list-style: none;
}
.exercise0610 .kadai{
	text-align: left;
}
.factor {
	font-size: 2rem;
	color: rgb(255, 0, 0);
}
/*exercise0708
-----------------------*/
#exercise0708 {
	background: rgba(230, 245, 10);
	height: 200px;
	margin-bottom: 20px;
}
#exercise0708 .page-title {
	padding-top: 100px;
	text-align: center;
}
#exercise0708 .page-title a{
	color: rgb(0, 0, 0);
}
.exercise0708 div{
	text-align: center;
	margin: 20px;
	font-size: 1.2rem;
}
.exercise0708 .kadai{
	text-align: left;
}
.exercise0708 .contents0708{
	text-align: center;
}

/*contact
-----------------------*/
#contact {
	background: linear-gradient(to right top, rgb(242, 105, 57), rgb(207, 46, 146));
	height: 250px;
	margin-bottom: 40px;
}
#contact .page-title {
	padding-top: 100px;
	text-align: center;
}
#contact .page-title a{
	color: rgb(0, 0, 0);
}
.contact-contents{
	text-align: center;
	margin: 30px 0;
}

/*footer
-----------------------*/
footer {
	text-align: center;
	margin-top: auto;
	padding: 5px;
}
footer hr{
	height: 2px;
	background-color: rgb(145, 145, 145);
}
footer small {
	color: rgb(145, 145, 145);
	font-size: 0.85rem;
	margin-right: 20px;
}
footer a{
	color: rgb(100, 100, 100);
	font-size: 0.85rem;
	margin: 0 15px;
}
footer a:hover{
	color: rgb(50, 50, 50);
}
footer .shiga{
	padding-left: 40px;
	border-left: 0.8px solid rgb(145, 145, 145);
}

@media (max-width: 600px) {

}
